:root {
  --light-bg: #fafafa;
  --medium-bg: #f4f4f4;
  --dark-bg: #efefef;

  --grey-color: #888;
  --text-color: #2c3e50;
  --accent-color: #42b883;
  --warn-color: #f85a40;
}

*:focus {
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--light-bg);
  color: var(--text-color);
  overflow-x: hidden;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.padding {
  padding: 1rem;
}

.btn {
  border: none;
  box-shadow: none;
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 26px;
  padding: 0.4rem 1rem;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.btn.danger {
  border: 1px solid var(--warn-color);
  background: var(--warn-color);
}

.btn.outline {
  color: var(--accent-color);
  background: transparent;
}

.btn.outline.danger {
  color: var(--warn-color);
  background: transparent;
}
